<!DOCTYPE html>
<html style="height: 100%" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials :: head"></div>
    <title>Individual Post</title>
</head>
<body style="height: 100vh">
<div th:replace="partials :: navbar">
    This div will be *replaced* by the fragment
</div>

<div class="container" style="height: 100vh">
    <h1 class="m-2">Individual Post</h1>
    <div class="m-2 d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOs4TDizXdsMqTXYdIshUHW83cpQEa14fvLw&usqp=CAU"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h3 th:text="${post.title}"></h3>
                <p th:text="${post.body}"></p>
            </div>
        </div>
    </div>
    <section class="container d-flex justify-content-center">
        <a th:href="@{/posts/edit/(id=${post.id})}" class="btn btn-info">Edit Post</a>
    </section>
</div>


<div th:replace="partials :: footer"></div>
<div th:replace="partials :: bottom"></div>
</body>
</html>