<!DOCTYPE html>
<html style="height: 100%" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials :: head"></div>
    <title>Individual Post</title>
</head>
<body style="height: 100vh">
<div th:replace="partials :: navbar">
    This div will be *replaced* by the fragment
</div>

<div class="container" style="height: 100vh">
    <h1 class="m-2">Individual Post</h1>
    <div class="m-2 d-flex justify-content-center">
        <div class="card" style="width: 50rem">
            <div class="d-flex row p-4 flex-wrap justify-content-center">
                <img class="img-thumbnail mr-1" style="width: 250px; height: 210px" th:each="image: ${post.images}"
                     th:src="${image.path}">
            </div>
            <div class="card-body">
                <h3 th:text="${post.title}"></h3>
                <p th:text="${post.body}"></p>
                <ul>
                    <li th:each="category: ${post.categories}" th:text="${category.name}"></li>
                </ul>
                <p class="text-muted mb-0 small">Created by: <span th:text="${post.owner.username}"></span></p>
            </div>
        </div>
    </div>
    <section class="container d-flex justify-content-center">
        <a class="btn btn-outline-secondary" th:href="@{/posts/(id=${post.id - 1})}" role="button">Previous Post</a>
        <a th:href="@{/posts/edit/(id=${post.id})}" class="btn btn-info mx-3">Edit Post</a>
        <a class="btn btn-outline-secondary" th:href="@{/posts/(id=${post.id + 1})}" role="button">Next Post</a>
    </section>
</div>


<div th:replace="partials :: footer"></div>
<div th:replace="partials :: bottom"></div>
</body>
</html>